rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Poems/{userId}/Drafts/{draftId} {
      allow read, write:
      	// You have full access to your own drafts
      	if request.auth.uid == userId;
    }
    
    match /PublicPoems/{poemId} {
    	// Anyone can read public poems
    	allow read: 
      	if true;
        
      // You can publish and delete your own poems
      allow create, delete:
      	if request.auth.uid == request.resource.data.user.userId;
    }

		match /Poems/{userId}/Favourites/{poemId} {
    	// You have full access to your favourites list
    	allow read, write: 
      	if request.auth.uid == userId;
    }
  }
}